 body {
            font-family: 'Roboto', sans-serif;
        }

        .card {
            border-radius: 12px;
            border: none;
        }

        .card-body {
            background-color: #fafafa;
            border-radius: 12px;
            box-shadow: inset 0 0 5px rgba(0,0,0,0.05);
        }

        .btn-secondary {
            background-color: #D9D9D9;
            border: none;
            font-weight: 500;
            color: #000; 
            transition: all 0.2s ease-in-out;
        }

        .btn-secondary:hover {
            background-color: #1E376C;
            transform: scale(1.03);
        }
        

        table {
            border-radius: 0px;
            overflow: hidden;
        }

        thead {
            background-color: #D9D9D9;
        }

        
        .collapse {
            transition: all 0.4s ease;
        }

        table.table td.centered,
        table.table th.centered {
            text-align: center;
            vertical-align: middle;
        }
            