/* Hamburger Menu */
.navbar-toggler {
    border: none !important;
    box-shadow: none !important;
    transition: transform 0.2s ease, background-color 0.3s ease;
    border-radius: 6px; /* biar agak lembut di ujungnya */
}

.navbar-toggler:hover {
    transform: scale(1.1); /* efek membesar pada Hamburger Menu */
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* Efek hover pada 3 menu di navbar*/
.nav-link {
    transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
    color: #000 !important;
    transform: scale(1.05); /* efek membesar pada 3 menu di navbar */
}

/* Efek shadow pada Tombol Masuk */
.navbar .btn.btn-primary {
    padding: 3px 15px;
    font-size: 14px;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(3, 3, 3, 0.3);
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar .btn.btn-primary:hover {
   transform: scale(1.05); /* efek membesar pada Tombol Masuk */
}
